[Unit]
Description=Radicale CalDAV and CardDAV server
Documentation=https://radicale.org/documentation/
Documentation=https://raw.githubusercontent.com/stejoo/ansible-role-radicale/master/README.md
After=network.target
Requires=network.target

[Service]
ExecStart=/usr/bin/env python3 -m radicale
Restart=on-failure
User={{ radicale_server_username }}
# Deny other users access to calendar data
UMask=0027
# Radical recommended security precautions
PrivateTmp=true
ProtectSystem=strict
ProtectHome=true
PrivateDevices=true
ProtectKernelTunables=true
ProtectKernelModules=true
ProtectControlGroups=true
NoNewPrivileges=true
ReadWritePaths={{ radicale_server_home_dir }}/collections
# Extra security precautions
LockPersonality=true
MemoryDenyWriteExecute=true
PrivateUsers=true
RestrictAddressFamilies=AF_INET
RestrictRealtime=true
RuntimeDirectory=radicale

[Install]
WantedBy=multi-user.target
